* {
  box-sizing: border-box;
}

header {
  background-color: rgb(58, 58, 58);
}

header a:first-child {
  margin-bottom: -3px;
}

a {
  text-decoration: none;
}

header a:link, header a:visited {
  color: rgba(255, 255, 255, 0.4);
}

a:link, a:visited {
  color: rgba(255, 255, 255, 0.8);
}

header a:hover {
  color: black;
}

header a:hover {
  color: black;
}

header a:active {
  color: black;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  margin: 0 auto;
}

nav > a, nav ul > li {
  margin-right: 20px;
}

nav ul {
  display: flex;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 960px;
  margin: 30px auto 0;
}

main img {
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

article section {
  max-height: 308px;
  margin-bottom: 30px;
  overflow: auto;
  width: 430px;
  padding-bottom: 10px;
}

/* fix this */
article > a {
  padding: 1rem;
  background-color: rgb(58, 58, 58);
}

footer {
  height: 100px;
  background-color: rgb(58, 58, 58);
}